<div id="particles-js">
  <div class="header">
      <h1>
        <span class="site-title">{{ site.username }}</span>
        <span class="site-description">{{ site.user_title }}</span>
      </h1>
      <div class="header-icons">
        {% if site.linkedin_username %}
        <a aria-label="My LinkedIn" target="_blank" href="https://www.linkedin.com/in/{{ site.linkedin_username }}"><i class="icon fa-brands fa-linkedin" aria-hidden="true"></i></a>
        {% endif %}
        {% if site.github_username %}
        <a aria-label="My Github" target="_blank" href="https://github.com/{{ site.github_username }}"><i class="icon fa-brands fa-github-alt" aria-hidden="true"></i></a>
        {% endif %}
        {% if site.asu_profile_url %}
        <a aria-label="My ASU Profile" target="_blank" href="https://{{ site.asu_profile_url }}"><i class="icon fa-solid fa-briefcase" aria-hidden="true"></i></a>
        {% endif %}
        {% if site.salesforce_username %}
        <a aria-label="My Salesforce" target="_blank" href="https://www.salesforce.com/trailblazer/{{ site.salesforce_username }}"><i class="icon fa-brands fa-salesforce" aria-hidden="true"></i></a>
        {% endif %}
        {% if site.business_name %}
        <a aria-label="{{ site.business_name }}" target="_blank" href="https://{{ site.business_url }}"><i class="icon fa-solid fa-gear" aria-hidden="true"></i></a>
        {% endif %}
      </div>
      <div class="header-links">
        <a class="link" href="#about" data-scroll>About Me</a>
      </div>
  </div>
  <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>
